/*************** Default Styling for PHP Tooler Boilerplate ***************/


/*********Include Font*********/


@font-face {font-family: FontAwesome; src: url('css/fonts/fontawesome-webfont.ttf');} 


html {

	overflow-x: hidden;

}

body {

width: 100%;
background-color: #3d4037;
overflow-x: hidden;

}

::selection {
background-color: #5CAFA5;
}

::-moz-selection {
background-color: #5CAFA5;
}

::-o-selection {
background-color: #5CAFA5;
}

::-ms-selection {
background-color: #5CAFA5;
}

::scrollbar {
width: 5px;
}

::scrollbar-track {
width: 5px; 
background-color: white;
}

::scrollbar-thumb {
background-color: #333;
border-radius: 11px;
}


::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
width: 5px; 
background-color: white;
}

::-webkit-scrollbar-thumb {
background-color: #333;
border-radius: 11px;

}


::-moz-scrollbar {
width: 5px;
}

::-moz-scrollbar-track {
width: 5px; 
background-color: white;
}

::-moz-scrollbar-thumb {
background-color: #333;
border-radius: 11px;
}

::-o-scrollbar {
width: 5px;
}

::-o-scrollbar-track {
width: 5px; 
background-color: white;
}

::-o-scrollbar-thumb {
background-color: #333;
border-radius: 11px;
}

::-ms-scrollbar {
width: 5px;
}

::-ms-scrollbar-track {
width: 5px; 
background-color: white;
}

::-ms-scrollbar-thumb {
background-color: #333;
border-radius: 11px;
}

*:foucs {
outline: 0;
background: transparent;
}



.header {

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100px;
padding-bottom: 50px;
background-color: #5CAFA5;
background-blend-mode: multiply;
box-shadow: -1px 2px 10px #333;

}


.title {

color: white;
font-family: proxima-nova;
font-weight: 100px;
font-size: 100px;
text-align: center;
-webkit-text-fill-color: #333;
-webkit-text-stroke-color: black;
-webkit-text-stroke-width: 1px;
-moz-text-fill-color: #333;
-moz-text-stroke-color: black;
-moz-text-stroke-width: 1px;
-o-text-fill-color: #333;
-o-text-stroke-color: black;
-o-text-stroke-width: 1px;
-ms-text-fill-color: #333;
-ms-text-stroke-color: black;
-ms-text-stroke-width: 1px;
text-fill-color: #333;
text-stroke-color: black;
text-stroke-width: 1px;

}

.title h2 i {

color: white;
font-family: FontAwesome;
font-weight: 11px;
font-size: 11px;
text-align: center;

}

/************Form Styling ******************/

.content {
width: 70%;
margin-top: 200px;
margin-left: auto;
margin-right: auto;
}
.wrapper {

}
.wrapper-left {

width: 100%;
margin: 500 auto;
}

.wrapper-right {
width: 65%;
}

input {
outline: 0;
}
.wrapper-left input[type=text] {

background-color: transparent;
height: 50px;
border-radius: 11px;
font-family: proxima-nova;
font-size: 15px;
text-align: center;
box-sizing: border-box;
-moz-box--sizing: border-box;
-ms-box--sizing: border-box;
-o-box--sizing: border-box;
-webkit-transition: all .1s ease-in;
-moz-transition: all .1s ease-in;
-o-transition: all .1s ease-in;
-ms-transition: all .1s ease-in;
transition: all .1s ease-in;
border-bottom: 2px solid #5CAFA5;
border-top: none;
border-left: none;
border-right: none;

}

.wrapper-left input[type=text]:hover {
border: none;
box-shadow: 0 0 5px #5CAFA5;
}
.wrapper-left input[type=text]:focus {
color: #e7efe7;
box-shadow: 0 0 5px #5CAFA5;
}

.text-title { width: 90%; }

.text-title:focus {

width: 90%;
box-shadow: 0 0 5px #5CAFA5;

}

.flow-left {

border-width: 2px;
display: inline-block;
width: 45%;
height: 50px;
float: left;
margin: 15px 0 0 5px;

}

.flow-left:hover, .flow-left:focus, .flow-left:active {

cursor: hand;
box-shadow: 0 0 5px #5CAFA5;

}


select {

-webkit-appearance: none;
font-size: 15px;
font-family: proxima-nova;
border: 1px solid #5CAFA5;
outline: 0;
background: transparent;
color: #e7efe7;

}


select:focus { color: black; }

form h1 {

font-family: proxima-nova;
font-size: 15px;
color: white;

}


#block-title {
margin: 25px 0 0 0;
}

.title i {
font-size: 95px;
}

.wrapper-right h1 {

margin: 100px auto 0 auto;
text-align: center;
font-family: proxima-nova;
width: 450px;
height: 250px;
line-height: 250px;
border: 1px dashed #333;

}



.btn-submit {

margin: 25px 0 0 0;
background-color: #333;
border-radius: 11px;
color: white;
width: 90%;
height: 35px;
border: 2px solid #333;
-webkit-transition: all 400ms ease-in;
-moz-transition: all 400ms ease-in;
-ms-transition: all 400ms ease-in;
-o-transition: all 400ms ease-in;
transition: all 400ms ease-in;

}

.block-1, 
.block-3 {
display: block;
margin-top: 150px;
}

.block-2 {
margin-top: 35px;
}

.btn-submit:hover,
.btn-submit:target {

cursor: hand;
background-color: #5CAFA5;
border: 2px solid #5CAFA5;
cursor: hand;

}


/****Media Query***/


@media screen and (max-width: 768px) {

.content { width: 100%; }

.title {

line-height: 100px;
font-size: 47px;

}

.title i {font-size: 50px;}

}